/* .app {
  display: flex;
  width: 75%;
  width: 1440px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
} */

@media (min-width: 1440px){
  .app {
      display: flex;
      width: 75%;
      width: 1440px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
  }
}